
@font-face{
    font-family:"Helvetica Neue";
    src:url("/fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
    src:url("/fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),url("/fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),url("/fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),url("/fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),url("/fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
    font-weight: normal;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("/fonts/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix");
    src:url("/fonts/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix") format("eot"),url("/fonts/b8765d4b-d9a3-48b9-ac65-560e7517cf0e.woff2") format("woff2"),url("/fonts/d7d2e6c6-fc3a-41a5-9b52-648e12e215b2.woff") format("woff"),url("/fonts/cb64744b-d0f7-4ef8-a790-b60d6e3e4f21.ttf") format("truetype"),url("/fonts/ccde919e-a712-41ef-b90f-9efc47661659.svg#ccde919e-a712-41ef-b90f-9efc47661659") format("svg");
    font-weight: 300;
}
@font-face{
    font-family:"Helvetica Neue";
    src:url("/fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
    src:url("/fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),url("/fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),url("/fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),url("/fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),url("/fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
    font-weight: bold;
}
